<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165903390131-fn0no8hj2hth3921gsv0ul8gqo62hhki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165903390131-fn0no8hj2hth3921gsv0ul8gqo62hhki</string>
	<key>API_KEY</key>
	<string>AIzaSyAiKteULZBMnGaEavAvoZHYB7L9qQEJqBM</string>
	<key>GCM_SENDER_ID</key>
	<string>165903390131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appMedBase2023</string>
	<key>PROJECT_ID</key>
	<string>bfla2023-67468</string>
	<key>STORAGE_BUCKET</key>
	<string>bfla2023-67468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165903390131:ios:7b97f2390c85f38d69a7c6</string>
</dict>
</plist>